*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    margin: 1.5rem 0 1.5rem 0;
    /* margin-bottom: 1.5rem;
    margin-top: 1.5rem; */
    text-align: center;
}
#cards{
    display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: auto;
} 

.card{
    margin-left: 1.5em;
    width: 23%;
    margin-bottom :2em ;
    padding: 1.5em;
    text-align: center;
  margin-top: 1.5em;
    border: 2px solid;
    background-color: aliceblue;
}
.images{
    width: 80%;
}
.Likes,.KidName{
    font-size: 1.5em;
    padding: .5em;
    text-align: left;
}

